@import url("https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,700,700i");
@import url("https://fonts.googleapis.com/css?family=Montserrat:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i");
* {
  margin: 0;
  padding: 0;
  list-style: 0;
  color: inherit;
  text-decoration: 0;
  font-weight: 400;
  font-size: inherit;
  font-weight: inherit;
  font-style: inherit;
  appearance: 0;
  border: 0;
  outline: 0;
  background: 0;
  border-radius: 0;
}

*:focus {
  outline: 0;
}

html {
  font-variant-numeric: oldstyle-nums;
  font-feature-settings: "liga1" on;
  font-family: "Roboto", Helvetica, sans-serif;
}

html,
p,
li,
blockquote,
pre {
  font-size: 1.2rem;
  line-height: 1.5rem;
}

@media (min-width: 961px) {
  html,
  p,
  li,
  blockquote,
  pre {
    font-size: 1.5rem;
    line-height: 2.5rem;
  }
}

.-small-text {
  font-size: 1rem;
  line-height: 1.5rem;
}

@media (min-width: 961px) {
  .-small-text {
    font-size: 1.2rem;
  }
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: 700;
  font-family: "Montserrat", Helvetica, monospace;
}

h1 {
  line-height: 3rem;
  font-size: 2.8rem;
}

@media (min-width: 961px) {
  h1 {
    line-height: 5rem;
    font-size: 4.1rem;
  }
}

* + h1 {
  margin-top: 7rem;
}

h2 {
  line-height: 2rem;
  font-size: 2rem;
}

@media (min-width: 961px) {
  h2 {
    line-height: 3rem;
    font-size: 2.8rem;
  }
}

* + h2 {
  margin-top: 3rem;
}

h3 {
  line-height: 1.5rem;
  font-size: 1.5rem;
}

@media (min-width: 961px) {
  h3 {
    line-height: 2.5rem;
    font-size: 2rem;
  }
}

* + h3 {
  margin-top: 2rem;
}

h4 {
  line-height: 1.5rem;
  font-size: 1rem;
}

@media (min-width: 961px) {
  h4 {
    line-height: 2.5rem;
    font-size: 1.5rem;
  }
}

* + h4 {
  margin-top: 1rem;
}

h5 {
  font-weight: 500;
  line-height: 1rem;
  font-size: 0.9rem;
}

@media (min-width: 961px) {
  h5 {
    line-height: 1.5rem;
    font-size: 1rem;
  }
}

* + h5 {
  margin-top: 1rem;
}

::selection {
  background-color: #3399CC;
}

html {
  font-size: 16px;
  font-weight: 400;
  height: 100%;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

button {
  cursor: pointer;
}

* + * {
  margin-top: 1rem;
}

body,
body > * {
  margin: 0;
}

body > main > section {
  margin: 0;
  text-align: center;
  width: 100%;
  padding-top: 4.5rem;
  padding-bottom: 4.5rem;
  background-color: #114433;
  color: #fff;
}

body > main > section > .container {
  width: calc(70% + 10rem);
  max-width: 100%;
  margin-right: auto;
  margin-left: auto;
  display: flow-root;
}

.edem-button {
  background-color: #fff;
  color: #339966;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-right: 2rem;
  padding-left: 2rem;
  font-weight: 700;
  letter-spacing: 0.04em;
  font-size: 1.5rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: all 0.2s ease;
}

.edem-button:hover {
  transform: translateY(-2px);
}

.edem-button:active {
  transform: translateY(0);
  opacity: 0.8;
}

.section-hero {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("../assets/images/edem-brandbg1.png");
  position: relative;
  min-height: 80vh;
}

.section-hero::before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-image: linear-gradient(transparent, #114433);
  z-index: 0;
}

.section-hero > .container {
  width: calc(70% + 10rem);
  max-width: 100%;
  margin-right: auto;
  margin-left: auto;
  display: flow-root;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.section-hero > .container > * {
  position: relative;
  z-index: 10;
}

.section-hero > .container > .title {
  display: block;
  float: left;
  width: calc( (8.33333% - 1rem)*8 + (8 - 1)*1rem);
  max-width: calc(100% - 1rem);
  margin-right: calc(1rem/2);
  margin-left: calc(1rem/2);
  font-weight: 500;
}

@media screen and (max-width: 960px) {
  .section-hero > .container > .title {
    width: calc( (12.5% - 0.5rem)*8 + (8 - 1)*0.5rem);
    max-width: calc(100% - 0.5rem);
    margin-right: calc(0.5rem/2);
    margin-left: calc(0.5rem/2);
  }
}

@media screen and (max-width: 640px) {
  .section-hero > .container > .title {
    width: calc( (25% - 0.5rem)*8 + (8 - 1)*0.5rem);
    max-width: calc(100% - 0.5rem);
    margin-right: calc(0.5rem/2);
    margin-left: calc(0.5rem/2);
  }
}

.section-hero > .container > .title > em {
  font-weight: 600;
  position: relative;
  z-index: 30;
  padding-right: 0.2em;
  padding-left: 0.2em;
}

.section-hero > .container > .title > em::before {
  content: '';
  display: block;
  position: absolute;
  top: 0.2em;
  bottom: 0.1em;
  left: 0;
  right: 0;
  z-index: -20;
  background-color: rgba(0, 0, 0, 0.3);
}

.section-hero > .container > .edem-button {
  margin-top: 3rem;
}

.section-features {
  display: flow-root;
  padding-top: 0;
  padding-bottom: 7rem;
}

.section-features .container {
  width: calc(70% + 10rem);
  max-width: 100%;
  margin-right: auto;
  margin-left: auto;
  display: flow-root;
}

.section-features .container > * + * {
  margin-top: 4.5rem;
}

.section-features .container > .tool {
  display: block;
  float: left;
  width: calc( (8.33333% - 1rem)*3 + (3 - 1)*1rem);
  max-width: calc(100% - 1rem);
  margin-right: calc(1rem/2);
  margin-left: calc(1rem/2);
}

@media screen and (max-width: 960px) {
  .section-features .container > .tool {
    width: calc( (12.5% - 0.5rem)*3 + (3 - 1)*0.5rem);
    max-width: calc(100% - 0.5rem);
    margin-right: calc(0.5rem/2);
    margin-left: calc(0.5rem/2);
  }
}

@media screen and (max-width: 640px) {
  .section-features .container > .tool {
    width: calc( (25% - 0.5rem)*3 + (3 - 1)*0.5rem);
    max-width: calc(100% - 0.5rem);
    margin-right: calc(0.5rem/2);
    margin-left: calc(0.5rem/2);
  }
}

@media (max-width: 640px) {
  .section-features .container > .tool {
    margin-right: calc((8.33333% - 1rem)*1 + (1 - 1)*1rem + 1.5*1rem);
    text-align: left;
  }
}

@media screen and (max-width: 640px) and (max-width: 960px) {
  .section-features .container > .tool {
    margin-right: calc((12.5% - 0.5rem)*1 + (1 - 1)*0.5rem + 1.5*0.5rem);
  }
}

@media screen and (max-width: 640px) and (max-width: 640px) {
  .section-features .container > .tool {
    margin-right: calc((25% - 0.5rem)*1 + (1 - 1)*0.5rem + 1.5*0.5rem);
  }
}

@media (max-width: 640px) {
  .section-features .container > .tool + * {
    margin-top: 2rem;
  }
  .section-features .container > .tool:nth-child(2n) {
    margin-left: calc((8.33333% - 1rem)*1 + (1 - 1)*1rem + 1.5*1rem);
    text-align: right;
  }
}

@media screen and (max-width: 640px) and (max-width: 960px) {
  .section-features .container > .tool:nth-child(2n) {
    margin-left: calc((12.5% - 0.5rem)*1 + (1 - 1)*0.5rem + 1.5*0.5rem);
  }
}

@media screen and (max-width: 640px) and (max-width: 640px) {
  .section-features .container > .tool:nth-child(2n) {
    margin-left: calc((25% - 0.5rem)*1 + (1 - 1)*0.5rem + 1.5*0.5rem);
  }
}

@media (min-width: 641px) and (max-width: 960px) {
  .section-features .container > .tool {
    display: block;
    float: left;
    width: calc( (8.33333% - 1rem)*4 + (4 - 1)*1rem);
    max-width: calc(100% - 1rem);
    margin-right: calc(1rem/2);
    margin-left: calc(1rem/2);
  }
}

@media screen and (min-width: 641px) and (max-width: 960px) and (max-width: 960px) {
  .section-features .container > .tool {
    width: calc( (12.5% - 0.5rem)*4 + (4 - 1)*0.5rem);
    max-width: calc(100% - 0.5rem);
    margin-right: calc(0.5rem/2);
    margin-left: calc(0.5rem/2);
  }
}

@media screen and (min-width: 641px) and (max-width: 960px) and (max-width: 640px) {
  .section-features .container > .tool {
    width: calc( (25% - 0.5rem)*4 + (4 - 1)*0.5rem);
    max-width: calc(100% - 0.5rem);
    margin-right: calc(0.5rem/2);
    margin-left: calc(0.5rem/2);
  }
}

@media (min-width: 641px) and (max-width: 960px) {
  .section-features .container > .tool:nth-child(1), .section-features .container > .tool:nth-child(2) {
    margin-top: 0;
  }
}

@media (min-width: 961px) {
  .section-features .container > .tool {
    margin: 0;
  }
}

.section-users {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("../assets/images/edem-brandbg2.png");
}

.section-contact {
  background-image: linear-gradient(#114433, #228855);
}
