.navigation-menu
  display: flex
  height: 100%

  > a
    font-weight: 400
    color: #000
    background: none
    transition: color 0.1s linear

    &.-active
      color: $color-edem-green

    &:hover
      color: $color-edem-green

  +media-mediumup
    > a
      margin: 0
      margin-left: 2rem
      line-height: 1
      display: flex
      align-items: center
  
  +media-mediumdown
    flex-direction: column
    align-items: center
    justify-content: center
    height: 0
    overflow-y: hidden
    z-index: -10
    position: fixed
    top: 0
    left: 0
    width: 100vw
    background-color: #fff
    transition: color 0.3s ease, height 0.4s ease
    
    > a
      opacity: 0
      padding-top: 1rem
      padding-bottom: 1rem
      font-size: $font-size-deca
      text-align: center
      transition-property: opacity
      transition-delay: 0s
      transition-duration: 0.6s
      transition-timing-function: ease

    &.-open
      height: 100vh
      
      > a
        opacity: 1
      
        @for $i from 1 through 5
          &:nth-child(#{$i})
            transition-delay: calc(0.1s * (#{$i} + 1) )
