.section-features
  display: flow-root
  padding-top: 0
  padding-bottom: $space-kilo

  .container
    +container

    > * + *
      margin-top: $space-hecto

    > .feature
      +grid(3)
      flex-direction: column
      +media-smallonly
        +offset(right, 1)
        text-align: left
        & + *
          margin-top: $space-base
        &:nth-child(2n)
          +offset(left, 1)
          text-align: right
      +media-mediumonly
        +grid(4)
        &:nth-child(1),
        &:nth-child(2)
          margin-top: 0
      +media-mediumup
        margin-top: 0

      > p > a
        +underline-mask($color-background)
        color: mix(#fff, $color-link)
        transition: opacity 0.3s ease
        &:hover
          opacity: 0.6
