.section-hero
  +bg-cover
  background-image: url("../assets/images/edem-brandbg1.png")
  position: relative
  min-height: 80vh
  &::before
    content: ''
    display: block
    position: absolute
    top: 0
    bottom: 0
    left: 0
    right: 0
    background-image:  linear-gradient(transparent, $color-background)
    z-index: 0

  > .container
    +container
    display: flex
    flex-direction: column
    align-items: center
    justify-content: center

    > *
      position: relative
      z-index: 10
    
    > .title
      +grid(8)
      font-weight: 500
      > em
        font-weight: 600
        position: relative
        z-index: 30
        padding-right: 0.2em
        padding-left: 0.2em
        &::before
          content: ''
          display: block
          position: absolute
          top: 0.2em
          bottom: 0.1em
          left: 0
          right: 0
          z-index: -20
          background-color: rgba(#000, 0.3)
      
    > .edem-button
      margin-top: $space-deca
