html

  head
  meta charset="utf-8"
  meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"
  title e-Democracia
  meta name="description" content="Experiment on cryptocurrency platform interface"
  meta name="author" content="Laboratório Hacker"
  meta name="keywords" content="democracia"
  meta name="viewport" content="width=device-width, initial-scale=1.0"
  meta name="referrer" content="origin"
  link rel="icon" type="image/png" href="./images/favicon.png"

  link href="./style/style.css" rel="stylesheet" type='text/css'

  body

  header
    a.logo e-Democracia

  main

    section.section-hero
      h1 Uma plataforma <em>inovadora</em> de <em>transparência</em> e <em>participação</em> popular
      button.edem-button Saiba mais

    section.section-feature
      .tool
        h3 Login unificado
        p Lorem ipsum…
      .tool
        h3 Plataforma modular
        p Lorem ipsum…
      .tool
        h3 Ambiente único
        p Lorem ipsum…
      .tool
        h3 Ferramentas integradas
        p Lorem ipsum…

    section.section-users
    section.section-tools
    section.section-contact

  footer